[submodule "yolo/ultralytics"]
	path = yolo/ultralytics
	url = https://github.com/ultralytics/ultralytics
[submodule "megapose6d2"]
	path = megapose6d2
	url = https://github.com/megapose6d/megapose6d
