# Ignoriere nachstehende Verzeichnisse
ungültig/
learnings/
outputs/
yolo/
cosypose/
PoseCNN/


__pycache__

__init__.py

# Ignoriere nachstehende Datentypen
*.png
*.stl
*.ply
*.obj
*.jpg
*.jpeg
*.pt
*.csv
*.pt


