# Ignoriere nachstehende Verzeichnisse
archiv/
scripts/ungültig/
outputs/
yolo/
megapose6d/
__pycache__

# Ignoriere alle Inhalte im Ordner
robosenselab/data/train/images/*
robosenselab/data/train/labels/*
robosenselab/data/val/images/*
robosenselab/data/val/labels/*

# Aber behalte den Ordner selbst
!robosenselab/data/train/images/.gitkeep
!robosenselab/data/train/labels/.gitkeep
!robosenselab/data/val/images/.gitkeep
!robosenselab/data/val/labels/.gitkeep


# Ignoriere nachstehende Datentypen
*.png
*.stl
*.ply
*.obj
*.jpg
*.jpeg
*.pt
*.csv
*.cache

# macOS
.DS_Store

# Windows Zone.Identifier
*.Zone.Identifier
