# Ignoriere nachstehende Verzeichnisse
archiv/
ungültig/
learnings/
outputs/
yolo/
megapose6d/



__pycache__

__init__.py

# Ignoriere nachstehende Datentypen
*.png
*.stl
*.ply
*.obj
*.jpg
*.jpeg
*.pt
*.csv
*.pt


