sudo apt-get install libgl1-mesa-glx
sudo apt-get install libxcb-xinerama0
pip install matplotlib
sudo apt-get install xvfb
pip install trimesh
pip install "pyglet<2"
sudo apt-get install libglu1-mesa



